{{#component 'Header' .}}{{/component}}

<div class="container grid-layout">
    <div class="left">
        {{#component 'Menu' .}}{{/component}}
    </div>
    <div class="middle grid">
        {{#component 'PostGroup' .}}{{/component}}
    </div>
    <div class="right"></div>
</div>

{{!-- {{#component 'ModalReplies' .}}{{/component}} --}}
