<header class="primary-header bg-white grid feed-page">
    {{#component 'Header' .}}{{/component}}
</header>

<div class="container grid feed-page">
    <div class="left"></div>
    <div class="middle grid">
        {{#component 'ProfileSettings' .}}{{/component}}
    </div>
    <div class="right"></div>
</div>

{{!-- <div class="container grid feed-page">
    <div class="left">
        {{#component 'Menu' .}}{{/component}}
    </div>
    <div class="middle grid">
        {{#each posts}}
            {{#component 'Post' .}}{{/component}}
        {{/each}}
        {{#component 'Post' .}}{{/component}}
        {{#component 'Post' .}}{{/component}}
        {{#component 'Post' .}}{{/component}}
    </div>
    <div class="right"></div>
</div> --}}

{{!-- {{#component 'ModalReplies' .}}{{/component}} --}}
