{{#component 'Header' .}}{{/component}}

<div class="container grid feed-page">
    <div class="left"></div>
    <div class="middle grid">
        {{#component 'ProfileSettings' .}}{{/component}}
    </div>
    <div class="right"></div>
</div>

{{!-- <div class="container grid feed-page">
    <div class="left">
        {{#component 'Menu' .}}{{/component}}
    </div>
    <div class="middle grid">
        {{#component 'PostGroup' .}}{{/component}}
    </div>
    <div class="right"></div>
</div> --}}

{{!-- {{#component 'ModalReplies' .}}{{/component}} --}}
