{{#component 'Header' .}}{{/component}}

<div class="container grid">
    <div class="left">
        {{#component 'Menu' .}}{{/component}}
    </div>
    <div class="middle grid">
        {{#each posts}}
            {{#component 'Post' .}}{{/component}}
        {{/each}}
        {{#component 'Post' .}}{{/component}}
        {{#component 'Post' .}}{{/component}}
        {{#component 'Post' .}}{{/component}}
    </div>
    <div class="right"></div>
</div>

{{!-- <div class='container'>
  {{#each posts}}
    {{this}}
    {{#component 'Post' .}}{{/component}}
  {{/each}}
</div> --}}