{{#component 'Header' .}}{{/component}}

<div class="container grid feed-page">
    <div class="left">
        {{#component 'Menu' .}}{{/component}}
    </div>
    <div class="middle grid">
        {{#component 'PostGroup' .}}{{/component}}
        {{!-- {{#component 'Chat' .}}{{/component}} --}}
    </div>
    <div class="right"></div>
</div>

{{#component 'ImageHorizontalScroll' .}}{{/component}}

{{#component 'ModalReplies' .}}{{/component}}
