:root {
    /* color css code */
    --main-color-primary: #C4C4C4;
    --main-color-secondary: #E4E1DC;
    --main-background-color: #DFD8CF;

    --border-secondary-color: #00000040;
    --border-primary-color: #FFC875;
    --border-error-color: #F85959;
    --border-correct-color: #68E1A0;

    --form-recover-color: #D4B9F8;
    --form-enter-color: #B4DEF0;
    --form-register-color: #68E1A0;
    --form-accent-color: #A8988F;
    --form-common-color: #C4C4C4;

    --accent-color-red: #F85959;
    --accent-color-lightred: #ED8B8B;
    --accent-color-darkred: #B26868;

    --accent-color-lightblue: #B4DEF0;
    --accent-color-lightgreen: #68E1A0;

    --accent-color-orange: #FCB834;
    --accent-color-lightorange: #FFC875;
    --accent-color-darkorange: #BF9658;

    --text-secondary-color: #E4E1DC;
    --text-primary-color: #000000;
    --text-error-color: #F85959;

    /* font css code */
    --font-family-primary: Roboto, Bradley Hand, cursive;
    --font-family-secondary: Comfortaa, Gill Sans, sans-serif;

    --font-size-h1: 3rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.125rem;

    /* border-radius css code */
    --border-radius-7: 7px;
    --border-radius-16: 16px;
    --border-radius-circle: 90px;
}
