/* absolute blocks */
.absolute-block {
    width: 40.25rem;
    position: absolute;
    z-index: 2000;
    background: var(--clr-bg);
}
.absolute-block:first-child {
    padding-top: 1rem;
    margin: 0 0.5rem;
}
.absolute-block:last-child {
  bottom: 0;
  padding-bottom: 1rem;
}

.absolute-block hr {
  height: 1/16rem;
  background: var(--clr-primary-50);
}

.chat-closing-part {
  height: 3.5rem;
  background: var(--clr-white);
  box-shadow: var(--bs-secondary);
}

.chat-closing-part .btn-like {
  height: 100%;
}

.chat-closing-part input {
  height: 2.25rem;
  margin: auto;
  border-radius: var(--br-primary__rem);
  background-color: var(--clr-text-05);
}
.chat-closing-part input::placeholder {
  color: var(--clr-text-35);
}

.chat-closing-part:first-child {
  border-radius: var(--br-primary__rem) var(--br-primary__rem) 0 0;
}
.chat-closing-part:last-child {
  border-radius: 0 0 var(--br-primary__rem) var(--br-primary__rem);
}

.chat-title .btn-like:first-child {
  border-radius: var(--br-primary__rem) 0 0 0;
}
.chat-title .btn-like:last-child {
  border-radius: 0 var(--br-primary__rem) 0 0;
}

.chat-bottom-part .btn-like:first-child {
  border-radius: 0 0 0 var(--br-primary__rem);
}
.chat-bottom-part .btn-like:last-child {
  border-radius: 0 0 var(--br-primary__rem) 0;
}

/* chat-container */

.chat-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: end;
  background-color: var(--clr-white);
}

.chat-scroll-window {
  margin: 3.5rem 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-closing-part,
.user-message,
.not-user-message {
  display: grid;
  grid-template-columns: 3.5rem 1fr 3.5rem;
  grid-gap: 0.5rem;
}

.user-message,
.not-user-message {
  padding: 0.5rem;
}

.message-content {
  color: var(--clr-text-75);
}
.message-info {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 0.5rem;
}
.not-user-message .message-info {
  justify-content: end;
}
.message-info p:first-child {
  color: var(--clr-secondary);
}
.message-info p:last-child {
  color: var(--clr-text-35);
}

.message-author,
.message-status {
  display: flex;
  margin: 0.5rem 0;
  justify-content: center;
  position: relative;
}
.message-author-image {
  top: 0;
  height: 3rem;
  position: absolute;
}
.message-status-image {
  bottom: 0;
  position: absolute;
}

.message-content-text {
  text-align: justify;
}
