<div class='absolute-block'>
  <div class='chat-closing-part chat-title flex-c fs-450'>
    <div class='btn-like flex-c' href='/messenger' data-link>
      <img src='static/icons/cross.svg' alt='' />
    </div>
    <p>Devi De Vita</p>
    <div class='btn-like flex-c'>
      <img class='icon' src='static/images/p4.webp' alt='' />
    </div>
  </div>
  <hr />
</div>
<div class='chat-container'>
  <div class='chat-scroll-window'>
    <div class='user-message fs-400'>
      <div class='message-author'>
        <img class='message-author-image icon' src='static/images/p3.webp' alt='' />
      </div>
      <div class='message-content'>
        <div class='message-info'>
          <p class='message-author-name'> Davi De Vita</p>
          <p class='message-published-date'> 13:07</p>
        </div>
        <p class='message-content-text'>It is a long established fact that a reader will be distracted by the readable
          content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
          normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable
          English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model
          text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
          evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      </div>
      <div class='message-status'>
        <img class='message-status-image' src='static/icons/check.svg' alt='' />
      </div>
    </div>
    <div class='user-message fs-400'>
      <div class='message-author'>
        <img class='message-author-image icon' src='static/images/p3.webp' alt='' />
      </div>
      <div class='message-content'>
        <div class='message-info'>
          <p class='message-author-name'> Davi De Vita</p>
          <p class='message-published-date'> 13:07</p>
        </div>
        <p class='message-content-text'>It is a long established fact that a reader will be distracted by the readable
          content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
          normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable
          English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model
          text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
          evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      </div>
      <div class='message-status'>
        <img class='message-status-image' src='static/icons/check.svg' alt='' />
      </div>
    </div>
    <div class='user-message fs-400'>
      <div class='message-author'>
        <img class='message-author-image icon' src='static/images/p3.webp' alt='' />
      </div>
      <div class='message-content'>
        <div class='message-info'>
          <p class='message-author-name'> Davi De Vita</p>
          <p class='message-published-date'> 13:07</p>
        </div>
        <p class='message-content-text'>It is a long established fact that a reader will be distracted by the readable
          content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
          normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable
          English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model
          text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
          evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      </div>
      <div class='message-status'>
        <img class='message-status-image' src='static/icons/check.svg' alt='' />
      </div>
    </div>
    <div class='user-message fs-400'>
      <div class='message-author'>
        <img class='message-author-image icon' src='static/images/p3.webp' alt='' />
      </div>
      <div class='message-content'>
        <div class='message-info'>
          <p class='message-author-name'> Davi De Vita</p>
          <p class='message-published-date'> 13:07</p>
        </div>
        <p class='message-content-text'>It is a long established fact that a reader will be distracted by the readable
          content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
          normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable
          English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model
          text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
          evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      </div>
      <div class='message-status'>
        <img class='message-status-image' src='static/icons/check.svg' alt='' />
      </div>
    </div>
    <div class='not-user-message fs-400'>
      <div class='message-status'>
      </div>
      <div class='message-content'>
        <div class='message-info'>
          <p class='message-published-date'> 13:07</p>
          <p class='message-author-name'> Davi De Vita</p>
        </div>
        <p class='message-content-text'>It is a long established fact that a reader will be distracted by the readable
          content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
          normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable
          English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model
          text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
          evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      </div>
      <div class='message-author'>
        <img class='message-author-image icon' src='static/images/p3.webp' alt='' />
      </div>
    </div>
  </div>
</div>
<div class='absolute-block'>
  <hr />
  <div class='chat-closing-part chat-bottom-part flex-c __disabled'>
    <div class='btn-like flex-c'>
      <img src='static/icons/share.svg' alt='' />
    </div>
    <input class='input-field' type='text' placeholder='Send message' />
    <div class='btn-like flex-c'>
      <img src='static/icons/send.svg' alt='' />
    </div>
  </div>
</div>