:root {
	--clr-text: rgb(77, 77, 77);
	--clr-text-75: rgba(77, 77, 77, 0.75);
	--clr-text-35: rgba(0, 0, 0, 0.35);

	--clr-primary: rgb(48, 103, 192);
	--clr-primary-d: rgb(37, 79, 147);
	--clr-primary-25: rgba(48, 103, 192, 0.25);

	--clr-secondary: rgb(92, 163, 235);
	--clr-secondary-d: rgb(37, 133, 228);
	--clr-secondary-25: rgba(92, 163, 235, 0.25);

	--clr-bg: rgb(238, 239, 241);
	--clr-positive: rgb(48, 166, 103);
	--clr-negative: rgb(215, 40, 84);
	--clr-warning: rgb(240, 186, 25);
	--clr-white: rgb(255, 255, 255);
	--clr-border: rgb(222, 223, 227);
}
