// https://coolors.co/5c8bd6-2aa3f4-000a14-c34a32-6cb284
:root {
	--clr-primary: rgb(75, 127, 210);
	--clr-primary-d: rgb(49, 105, 196);
	--clr-primary-l: rgba(108, 150, 218);

	--clr-secondary: rgb(42, 163, 244);
	--clr-secondary-d: rgb(12, 144, 233);
	--clr-secondary-l: rgba(81, 180, 246);

	--clr-text: rgb(0, 10, 20);

	--clr-negative: rgb(195, 74, 50);
	--clr-negative-d: rgb(162, 62, 42);

	--clr-positive: rgb(108, 178, 132);

	--clr-bg: rgb(238, 239, 241);
	--clr-warning: rgb(240, 186, 25);
	--clr-white: rgb(255, 255, 255);
	--clr-border: rgb(222, 223, 227);
}
