.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: block;
	position: absolute;
	padding: 0.5rem;

	opacity: 0;
	visibility: hidden;
	transition: opacity 300ms ease, visibility 300ms ease;
}
