input {
	overflow: auto;
}

.input-field {
	@extend .border-sm;
	width: 100%;
	border-style: none;
	padding: 0.5rem;
	outline: 1px solid var(--clr-border);
}

.input-field:where(:hover, :focus) {
	outline: 1px solid var(--clr-primary);
}

.input-field.ok {
	outline: 1px solid var(--clr-positive);
}

.input-field.error {
	outline: 1px solid var(--clr-negative);
}

div[contenteditable] {
	@extend .pd-4;
	@extend .border;
	@extend .border-sm;
	outline: none;
	overflow-y: scroll;
	overflow-wrap: break-word;
}

div[contenteditable]:empty:focus::before,
div[contenteditable]:empty::before {
	@extend .fs-sm;
	@extend .text-light;
	content: "Type a message...";
}
