.tooltip {
	position: relative;
	cursor: pointer;
	user-select: none;
}

.tooltip .tooltip-content {
	right: 0;
	bottom: 115%;
	position: absolute;

	width: 10rem;
	max-height: 16rem;

	opacity: 0;
	visibility: hidden;
	transition: opacity 500ms ease, visibility 500ms ease;
}

.tooltip[active] .tooltip-content {
	opacity: 1;
	visibility: visible;
}
