.tooltip {
	position: relative;
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.tooltip .tooltip-content {
	right: 0;
	bottom: 115%;
	position: absolute;

	width: 10rem;
	max-height: 16rem;

	visibility: hidden;
}

.tooltip[active] .tooltip-content {
	visibility: visible;
}
