@import "./mixins.scss";

.bold {
	font-weight: bold;
}

.fs-sm {
	@include clampify(font-size, 10, 13);
}

.fs-md {
	@include clampify(font-size, 13, 16);
}

.fs-lg {
	@include clampify(font-size, 18, 24);
}

.fs-xlg {
	@include clampify(font-size, 24, 32);
}

.uppercase {
	text-transform: uppercase;
}

.no-decoration {
	text-decoration: none;
}

.text-primary {
	color: var(--clr-primary);
}

.text-light {
	color: rgba(0, 0, 0, 0.5);
}

.text-shadow {
	text-shadow: 0px 1px 1px;
}

.text-center {
	text-align: center;
}
