<div class='main-menu'>
  <a class='main-menu-element btn-transparent txt-decor-none' id='profile-button' href='/u/{{store.user.id}}' data-link>
    <img class='icon' src='/static/icons/profile.svg' alt='' />
    <p class='element-text'>My Profile</p>
  </a>
  <a class='main-menu-element btn-transparent txt-decor-none' id='feed-button' href='/feed' data-link>
    <img class='icon' src='/static/icons/feed.svg' alt='' />
    <p class='element-text'>Feed</p>
  </a>
  <a class='main-menu-element btn-transparent txt-decor-none' id='messages-button' href='/messenger' data-link>
    <img class='icon' src='/static/icons/messages.svg' alt='' />
    <p class='element-text'>Messanger</p>
  </a>
  <a class='main-menu-element btn-transparent txt-decor-none' id='friends-button' href='/friends' data-link>
    <img class='icon' src='/static/icons/friends.svg' alt='' />
    <p class='element-text'>Friends</p>
  </a>
  <a class='main-menu-element btn-transparent txt-decor-none __disabled' id='communities-button'>
    <img class='icon' src='/static/icons/groups.svg' alt='' />

    <p class='element-text'>Communities</p>
  </a>
</div>