<div class="main-menu">
    <a class="element btn-transparent txt-decor-none" id="profile-button" href="/profile" data-link>
        <img class="icon" src="../sources/icons/profile.svg" alt="">
        <p>My Profile</p>
    </a>
    <a class="element btn-transparent txt-decor-none" id="feed-button" href="/feed" data-link>
        <img class="icon" src="../sources/icons/feed.svg" alt="">
        <p>Feed</p>
    </a>
    <a class="element btn-transparent txt-decor-none" id="messages-button">
        <img class="icon" src="../sources/icons/messages.svg" alt="">
        <p>Messanger</p>
    </a>                    
    <a class="element btn-transparent txt-decor-none" id="friends-button">
        <img class="icon" src="../sources/icons/friends.svg" alt="">
        <p>Friends</p>
    </a>
    <a class="element btn-transparent txt-decor-none" id="communities-button">
        <img class="icon" src="../sources/icons/groups.svg" alt="">
        <p>Communities</p>
    </a>
</div>
