<div class="main-menu">
    <div class="element btn-transparent">
        <img class="icon" src="../sources/icons/profile.svg" alt="">
        <p>My Profile</p>
    </div>
    <div class="element btn-transparent">
        <img class="icon" src="../sources/icons/feed.svg" alt="">
        <p>Feed</p>
    </div>
    <div class="element btn-transparent">
        <img class="icon" src="../sources/icons/messages.svg" alt="">
        <p>Messanger</p>
    </div>                    
    <div class="element btn-transparent">
        <img class="icon" src="../sources/icons/friends.svg" alt="">
        <p>Friends</p>
    </div>
    <div class="element btn-transparent">
        <img class="icon" src="../sources/icons/groups.svg" alt="">
        <p>Communities</p>
    </div>
</div>