<div class="post-settings">
    <div class="settings-element">
        <p>hide post</p>
    </div>
    <hr>
    <div class="settings-element">
        <p>complain</p>
    </div>
    <hr>
    <div class="settings-element">
        <p>unsubscribe from user posts</p>
    </div>
</div>