{{#component 'Header' .}}{{/component}}

<div class="container grid feed-page">
    <div class="left">
        {{#component 'Menu' .}}{{/component}}
    </div>
    <div class="middle">
        {{#component 'ProfileSettings' .}}{{/component}}
    </div>
    <div class="right"></div>
</div>
