<div class='reply-section block'>
  <p>replies section</p>
  <hr />
  <input type='search' class='input-field' placeholder='Search for user or group' />
  <div class='repliers'>
    <div class='btn-like'>
      <img src='../../sources/images/unsplash_XttWKETqCCQ.png' alt='' class='icon' />
      <p>Samsara Remmy</p>
    </div>
    <div class='btn-like'>
      <img src='../../sources/images/unsplash_XttWKETqCCQ.png' alt='' class='icon' />
      <p>Samsara Remmy</p>
    </div>
    <div class='btn-like'>
      <img src='../../sources/images/unsplash_XttWKETqCCQ.png' alt='' class='icon' />
      <p>Samsara Remmy</p>
    </div>
    <div class='btn-like'>
      <img src='../../sources/images/unsplash_XttWKETqCCQ.png' alt='' class='icon' />
      <p>Samsara Remmy</p>
    </div>
    <div class='btn-like'>
      <img src='../../sources/images/unsplash_XttWKETqCCQ.png' alt='' class='icon' />
      <p>Samsara Remmy</p>
    </div>
    <div class='btn-like'>
      <img src='../../sources/images/unsplash_XttWKETqCCQ.png' alt='' class='icon' />
      <p>Samsara Remmy</p>
    </div>
  </div>
</div>