#reply-container {
  display: none;
  height: 100%;
  width: 72.25rem;
  min-width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
}

.reply-section {
  padding: 1rem 2rem;
  width: min-content;
  display: grid;
  grid-gap: 0.5rem;
}
.reply-section-title {
  font-size: var(--fs-450);
}
.reply-section > .main {
  position: fixed;
}
.reply-section input {
  width: 20rem;
}
.reply-section .icon-a {
  height: 2.5rem;
  margin: auto;
}

.repliers {
  height: min-content;
  max-height: 18rem;
  overflow-y: scroll;
}
.repliers p {
  font-size: var(--fs-400);
}
.repliers > div {
  padding: 0.25rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.25rem;
  justify-content: left;
  align-items: center;
  border-radius: var(--br-primary__rem);
}
