<div id='reply-container' class='flex-c'>
  <div class='reply-section block flex-c'>
    <p class='reply-section-title'>replies section</p>
    <hr />
    <input type='search' class='input-field' placeholder='Search for user or group' />
    <div class='repliers'>
      {{#each repliers as |replier|}}
        <div class='btn-like'>
          <img src='{{replier.image}}' alt='' class='icon' />
          <p>{{replier.name}}</p>
        </div>
      {{/each}}
      <div class='btn-like'>
        <img src='static/images/p3.webp' alt='' class='icon-a' />
        <p>Samsara Remmy</p>
      </div>
      <div class='btn-like'>
        <img src='static/images/p3.webp' alt='' class='icon-a' />
        <p>Samsara Remmy</p>
      </div>
      <div class='btn-like'>
        <img src='static/images/p3.webp' alt='' class='icon-a' />
        <p>Samsara Remmy</p>
      </div>
      <div class='btn-like'>
        <img src='static/images/p3.webp' alt='' class='icon-a' />
        <p>Samsara Remmy</p>
      </div>
      <div class='btn-like'>
        <img src='static/images/p3.webp' alt='' class='icon-a' />
        <p>Samsara Remmy</p>
      </div>
      <div class='btn-like'>
        <img src='static/images/p3.webp' alt='' class='icon-a' />
        <p>Samsara Remmy</p>
      </div>
    </div>
  </div>
</div>