.reply-section {
    padding: 0.5rem 0;
    width: 20rem;
    left: 7rem;
    top: 14.25rem;

    display: none;
    grid-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
}
.reply-section > .main {
    position: fixed;
}
.reply-section input {
    width: 15rem;
}
.reply-section img {
    height: 2.5rem;
    margin: auto;
}
.reply-section p {
    font-size: var(--fs-400);
}

.repliers {
    height: 9rem;
    overflow-y: scroll;
}
.repliers > div {
    padding: 0.25rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.25rem;
    justify-content: left;
    align-items: center;
    border-radius: var(--br-main__rem);
}
