:root {
  --header-bg-color: white;

  --header-border-width: 2px;
  --header-border-color: black;
}

.header {
  width: 100vw;
  padding: .5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: var(--header-bg-color);
  border-bottom: var(--header-border-width) solid var(--header-border-color);
}

.nav__link__logo {
  font-size: 1.25rem;
  color: var(--root-secondary-color);
  text-decoration: none;
}

.nav__link {
  padding: .1rem;
  color: var(--root-accent-color);
}

.nav__link:hover {
  filter: brightness(125%);
}