<div class="image-scroll">
    <div class="main-scroll-window">
        <div class="scroll-btn flex-c btn-like">
            <img class="icon" src="static/icons/arrow_left.svg" alt="">
        </div>
        <div class="scroll-content">
            <img src="static/images/p3.webp" alt="">
            <img src="static/images/p4.webp" alt="">
            <img src="static/images/p5.webp" alt="">
            <img src="static/images/p6.webp" alt="">
            <img src="static/images/p7.jpeg" alt="">
            <img src="static/images/p8.jpeg" alt="">
        </div>
        <div class="scroll-btn flex-c btn-like">
            <img class="icon" src="static/icons/arrow_right.svg" alt="">
        </div>
    </div>
    <div class="comment-section">

    </div>
</div>