<form id="form-login" class="form flow border-4" style="--flow-space: 1.5rem;">
  <div class="form-field">
    <span><input id="email" name="email" type="email" class="input-field" placeholder="Email"></span>
  </div>
  <div class="form-field">
    <span><input id="password" name="password" type="password" class="input-field" placeholder="Password"></span>
  </div>
  <div id="form-actions" class="grid grid-c">
    <button class="btn btn-primary" id="submit" type="submit" class="form__btn__submit">Sign in</button>
    <a class="link" href="/signup" data-link>Don't have an account?</a>
  </div>
</form>
