/* #not-found {
    width: auto;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#not-found > p {
    font-size: 10rem;
} */

/* container */
.container {
    top: 5rem;
    height:100%;

    overflow-y: scroll;
    grid-template-columns:  minmax(13rem, 1fr) minmax(35rem, 1fr) minmax(16rem, 1fr);
}
.container > * {
    padding: 1rem 0.5rem;
    font-size: var(--font-size-h3);
}

.container > .left {
    display: flex;
    justify-content: flex-end;
}