<div class="profile-content">
    <div class="post-add block btn-like">
        <img class="icon" src="../sources/icons/add_square.svg" alt="">
        <p class="profile-content-part-title">create post</p>
    </div>
    <div class="social-menu block">
        <p class="profile-content-part-title flex-c">friend list</p>
        <div class="social-menu-element flex-c btn-like">
            <img class="icon" src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="icon">
            <p class="selectable">Limi Swag</p>
        </div>
        <div class="social-menu-element flex-c btn-like">
            <img class="icon" src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="icon">
            <p class="selectable">Limi Swag</p>
        </div>
        <div class="social-menu-element flex-c btn-like">
            <img class="icon" src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="icon">
            <p class="selectable">Limi Swag</p>
        </div>
        <div class="social-menu-element flex-c btn-like">
            <img class="icon" src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="icon">
            <p class="selectable">Limi Swag</p>
        </div>
        <div class="social-menu-element flex-c btn-like">
            <img class="icon" src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="icon">
            <p class="selectable">Limi Swag</p>
        </div>
    </div>
    <div class="social-menu block">
        <p class="profile-content-part-title flex-c">group list</p>
         <div class="social-menu-element flex-c btn-like">
            <img class="icon" src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="icon">
            <p class="selectable">Limi Swag</p>
        </div>
        <div class="social-menu-element flex-c btn-like">
            <img class="icon" src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="icon">
            <p class="selectable">Limi Swag</p>
        </div>
        <div class="social-menu-element flex-c btn-like">
            <img class="icon" src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="icon">
            <p class="selectable">Limi Swag</p>
        </div>
    </div>
</div>
