<div class="profile-content">
    <div class="post-add block button">
        <img src="../sources/icons/add_square.svg" alt="" class="icon">
        <p>create post</p>
    </div>
    <div class="friends-menu block">
        <p>friend list</p>
        <div class="friend-element">
            <img src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="avatar">
            <p>Limi Swag</p>
        </div>
        <div class="friend-element">
            <img src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="avatar">
            <p>Limi Swag</p>
        </div>
        <div class="friend-element">
            <img src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="avatar">
            <p>Limi Swag</p>
        </div>
        <div class="friend-element">
            <img src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="avatar">
            <p>Limi Swag</p>
        </div>
        <div class="friend-element">
            <img src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="avatar">
            <p>Limi Swag</p>
        </div>
    </div>
    <div class="groups-menu block">
        <p>group list</p>
        <div class="group-element">
            <img src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="avatar">
            <p>Limi Swag</p>
        </div>
        <div class="group-element">
            <img src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="avatar">
            <p>Limi Swag</p>
        </div>
        <div class="group-element">
            <img src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="avatar">
            <p>Limi Swag</p>
        </div>
        <div class="group-element">
            <img src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="avatar">
            <p>Limi Swag</p>
        </div>
        <div class="group-element">
            <img src="../sources/images/unsplash_SqYmTDQYMjo.png" alt="" class="avatar">
            <p>Limi Swag</p>
        </div>
    </div>
</div>
