/* .primary-header  * {
  font-size: var(--fs-400);
  color: var(--clr-text-35);
} */

.primary-header {
  height: 4rem;
  z-index: 1200;
  grid-template-columns:  minmax(13rem, 1fr) 35rem minmax(16rem, 1fr);
  box-shadow: var(--bs-primary);
}
/* navbar left */
.primary-header > .left {
  height: 4rem;
}

#logo {
  min-height: 100%;
  max-height: 100%;
  float: right;
}
/* navbar middle */
.primary-header > .middle {
  justify-content: space-evenly;
}

.middle > .search {
  padding: 0.25rem 1rem;
  width: 15rem;

  display: grid;
  grid-template-columns: 3rem 1fr;

  background: var(--clr-bg);
  box-shadow: var(--bs-primary);
  border-radius: 0.75rem;
}

.search-part {
  background: var(--clr-bg);
}

.search-input {
  height: auto;
  width: 100%;
  border: none;
  outline: none;
  color: var(--clr-primary);
}

.middle > .btn-like {
  min-height: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1;
}
/* navbar right */
.profile {
  padding: 0.5rem;
  height: auto;
  width: 12rem;
  float: left;
}

.profile-avatar {
  height: 3rem;
}
.profile-btn {
  margin: 0.5rem;
}
.profile-name {
  width: max-content; 
  /* if name is very long we have to change this */
}

.profile-menu {
  display: none;
  /* change display to block */
  top: 4rem;
  padding: 0 0 0.5rem 0;
  width: 13rem;
  height: min-content;
  position: absolute;

  background-color: var(--clr-white);
  border-radius: 0 0 var(--br-primary__rem) var(--br-primary__rem);
  box-shadow: var(--bs-primary);
}
