{{{Header}}}

<div class="container">
    <div class="left">
        {{{Menu}}}
    </div>
    <div class="middle">
        {{#each posts}}
        <div class="post block">
            <div class="header">
                <div class="author">
                    <img class="avatar" src="../sources/images/E802C8F6-13EE-4316-917E-1CAD52CE1899_4_5005_c.jpeg" alt="">
                    <div class="info">
                        <p class="link">John Doe</p>
                        <p>yeaterday at 20:43</p>
                    </div>
                </div>
                <div class="settings">
                    <img src="../sources/icons/arrow_down.svg" alt="">
                </div>
                <div class="settings-info block">
                    <div class="element">
                        <p>Complain</p>
                    </div>
                    <div class="element">
                        <p>Hide post</p>
                    </div>
                </div>
            </div>
            <div class="title">
                <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).</p>
                <p class="link">more text...</p>
            </div>
            <div class="content">
                <img src="../sources/images/Post Picture.png" alt="">
            </div>
            <div class="reactions">
                <div class="like block button">
                    <img src="../sources/icons/like.svg" alt="" class="icon">
                    <p>1.25k</p>
                </div>
                <div class="comment block button">
                    <img src="../sources/icons/comment.svg" alt="" class="icon">
                    <p>comment</p>
                </div>
                <div class="reaction block button">
                    <img src="../sources/icons/repost.svg" alt="" class="icon">
                    <p>repost</p>
                </div>
                <div class="watch">
                    <img src="../sources/icons/watch.svg" alt="" class="icon">
                    <p>1.25k</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="right"></div>
</div>
