{{#component 'Header' .}}{{/component}}

<div class="container grid profile-page">
    <div class="left">
        {{#component 'Menu' .}}{{/component}}
    </div>
    <div class="middle grid">
        <div class="profile-container">
            {{#component 'ProfileInfo' .}}{{/component}}
            {{#component 'ProfileMenu' .}}{{/component}}
            <div class="profile-feed">
                <div class="profile-create-post block fs-350">
                    <span class='textarea' role='textbox' contenteditable></span>
                    <hr>
                    <div class="profile-create-post-more flex-c">
                        <img class="icon btn-like" src="../../static/icons/share.svg" alt="">
                        <div class="block btn-primary">
                            <p>upload</p>
                        </div>
                    </div>
                </div>
                {{#component 'PostGroup' .}}{{/component}}
            </div>
        </div>
    </div>
    <div class="right"></div>
</div>

{{#component 'ImageHorizontalScroll' .}}{{/component}}

{{#component 'ModalReplies' .}}{{/component}}