{{#component 'Header' .}}{{/component}}

<div class="container grid profile-page">
    <div class="left">
        {{#component 'Menu' .}}{{/component}}
    </div>
    <div class="middle grid">
        <div class="profile-container">
            {{#component 'ProfileInfo' .}}{{/component}}
            {{#component 'ProfileMenu' .}}{{/component}}
            <div class="profile-feed">
                {{#component 'PostGroup' .}}{{/component}}
            </div>
        </div>
    </div>
    <div class="right"></div>
</div>

{{#component 'ImageHorizontalScroll' .}}{{/component}}

{{#component 'ModalReplies' .}}{{/component}}