.friends-container {
  box-shadow: var(--bs-secondary);
}
.friends-container hr {
  background: var(--clr-secondary-25);
}
.friends-container hr:last-child {
  height: 0;
}

.friend-section {
  padding: 0.5rem;
}

.friend-image .icon {
  height: 4rem;
}

.friend-info p {
  color: var(--clr-secondary);
}
.friend-info .link {
  color: var(--clr-text-35);
}

.friend-section .settings-info {
  margin: 0.5rem 2rem;
  width: max-content;
}
