.friends-container {
    box-shadow: var(--bs-secondary);
}
.friends-container hr {
    background: var(--clr-secondary-25);
}
.friends-container hr:last-child {
    height: 0;
}

.friend-section {
    height: 5rem;
    display: grid;
    grid-template-columns: 5rem 1fr 3.5rem;
}

.friend-image .icon {
    height: 4rem;
}
.friend-info {
    display: grid;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.friend-info p {
    color: var(--clr-secondary);
}
.friend-info .link {
    color: var(--clr-text-35);
}
.friend-settings {

}
