<div class="friends-container block">
    {{#each user.friends as |friend|}}
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="{{friend.image}}" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">{{friend.name.first}} {{friend.name.last}}</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
    {{/each}}
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="static/images/p5.webp" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">Dominick Torreto</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="static/images/p5.webp" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">Dominick Torreto</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="static/images/p5.webp" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">Dominick Torreto</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="static/images/p5.webp" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">Dominick Torreto</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="static/images/p5.webp" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">Dominick Torreto</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="static/images/p5.webp" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">Dominick Torreto</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="static/images/p5.webp" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">Dominick Torreto</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="static/images/p5.webp" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">Dominick Torreto</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="static/images/p5.webp" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">Dominick Torreto</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="static/images/p5.webp" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">Dominick Torreto</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="static/images/p5.webp" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">Dominick Torreto</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="static/images/p5.webp" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">Dominick Torreto</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="static/images/p5.webp" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">Dominick Torreto</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
    <div class="friend-section">
        <div class="friend-image flex-c">
            <img class="icon" src="static/images/p5.webp" alt="">
        </div>
        <div class="friend-info">
            <p class="fs-400">Dominick Torreto</p>
            <p class="link">Send message</p>
        </div>
        <div class="friend-settings flex-c">
            <img class="icon" src="static/icons/settings.svg" alt="">
        </div>
    </div>
    <hr>
</div>