<div class='friends-container block'>
  <div class='flex border-no-style border-4 bg-white'>
    <img class='icon' src='{{icon "search"}}' alt='search icon' />
    <input id='search-input' class='border-no-style' type='text' placeholder='Search' />
  </div>

  <div id='friends-container'>
    {{#each user.friends as |friend|}}
    <div class="header friend-section">
        <div class="user-image friend-image flex-c">
            <img class="icon-a" src="{{friend.image}}" alt="">
        </div>
        <div class="user-info friend-info">
            <p class="fs-400">{{friend.name}}</p>
            <p class="link">Send message</p>
        </div>
        <div class="settings-container">
            <div class='settings-info block'>
                <div class='element flex-c btn-like __disabled'>
                    <p class='element-text'>Delete friend</p>
                </div>
                <div class='element flex-c btn-like __disabled'>
                    <p class='element-text'>Hide friend</p>
                </div>
            </div>
            <div class="settings">
                <img class="icon" src="static/icons/more.svg" alt="">
            </div>
        </div>
    </div>
    <hr /> --}}
    {{/each}}
    <div class="header friend-section">
        <div class="user-image friend-image flex-c">
            <img class="icon-a" src="static/images/p5.webp" alt="">
        </div>
        <div class="user-info friend-info">
            <p class="fs-400">Somebody that i used to know</p>
            <p class="link">Send message</p>
        </div>
        <div class="settings-container">
            <div class='settings-info block'>
                <div class='element flex-c btn-like __disabled'>
                    <p class='element-text'>Delete friend</p>
                </div>
                <div class='element flex-c btn-like __disabled'>
                    <p class='element-text'>Hide friend</p>
                </div>
            </div>
            <div class="settings">
                <img class="icon" src="static/icons/more.svg" alt="">
            </div>
        </div>
    </div>
    <hr>
    <div class="header friend-section">
        <div class="user-image friend-image flex-c">
            <img class="icon-a" src="static/images/p5.webp" alt="">
        </div>
        <div class="user-info friend-info">
            <p class="fs-400">Somebody that i used to know</p>
            <p class="link">Send message</p>
        </div>
        <div class="settings-container">
            <div class='settings-info block'>
                <div class='element flex-c btn-like __disabled'>
                    <p class='element-text'>Delete friend</p>
                </div>
                <div class='element flex-c btn-like __disabled'>
                    <p class='element-text'>Hide friend</p>
                </div>
            </div>
            <div class="settings">
                <img class="icon" src="static/icons/more.svg" alt="">
            </div>
        </div>
    </div>
    <hr>
    <div class="header friend-section">
        <div class="user-image friend-image flex-c">
            <img class="icon-a" src="static/images/p5.webp" alt="">
        </div>
        <div class="user-info friend-info">
            <p class="fs-400">Somebody that i used to know</p>
            <p class="link">Send message</p>
        </div>
        <div class="settings-container">
            <div class='settings-info block'>
                <div class='element flex-c btn-like __disabled'>
                    <p class='element-text'>Delete friend</p>
                </div>
                <div class='element flex-c btn-like __disabled'>
                    <p class='element-text'>Hide friend</p>
                </div>
            </div>
            <div class="settings">
                <img class="icon" src="static/icons/more.svg" alt="">
            </div>
        </div>
    </div>
    <hr>
</div>