/* for every element */
* {
    margin: 0;
    padding: 0;
    border: none;

    font-family: system-ui;
    font-variant-caps: normal;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    font-style: normal;

    font-weight: 300;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

/* variables */
:root {
    --border-radius-primary: 0.5rem;
    --border-radius-circle: 50%;

    --main-color-background: #EDEEF0;
    --main-color-primary: #FFFFFF;

    --hover-color-main: rgba(92, 163, 235, 0.1);

    --items-color-secondary: rgba(0, 0, 0, 0.5);

    --text-color-primary: rgba(0, 0, 0, 0.35);
    --text-color-secondary: #5CA3EB;
    --text-color-priority: #3066BE;
    --text-color-priority-05: rgba(48, 102, 190, 0.5);

    --box-shadow-nav: 0px 2px 5px 0px rgba(180, 197, 228, 1);
    --box-shadow-items: 0px 1px 5px rgba(0, 0, 0, 0.25);

    --font-size-h1: 1.5rem;
    --font-size-h2: 1.25rem;
    --font-size-h3: 1rem;
    --font-size-h4: 0.75rem;
    --font-size-h5: 0.5rem;
}

hr {
    border: 0; 
    height: 0.0625rem; 
    box-sizing: content-box; 
    display: block;
    background-color: var(--hover-color-main);
}

.icon, img {
    height: 2rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
} 

.h1 {
    font-size: var(--font-size-h1);
}
.h2 {
    font-size: var(--font-size-h2);
}
.h3 {
    font-size: var(--font-size-h3);
}

.block {
    background-color: var(--main-color-primary);
    border-radius: var(--border-radius-primary);
    box-shadow: var(--box-shadow-items);
}

.avatar {
    height: 4rem;
    border-radius: var(--border-radius-circle);
}

.link {
    color: var(--text-color-priority);
}
.link:hover {
    text-decoration: underline;
}

.element {
    width: auto;
    display: flex;
    align-items: center;
}
.element > p {
    padding: 0 1rem;
}

.element, .profile, .avatar, .settings, .link, .img, .button {
    cursor: pointer;
}

.element:hover, .profile:hover, .button:hover {
    background-color: var(--hover-color-main);
}
/* root */
.root {
    height: 100vh;
    width: 100vw;
    position: fixed;

    display: grid;
    overflow-y: hidden;
    grid-template-rows: 4rem 1fr;
    grid-template-areas: "nav" "container";
    grid-gap: 1rem;

    cursor: default;

    background: var(--main-color-background);
}
/* navbar */
.nav  * {
    font-size: var(--font-size-h3);
    color: var(--text-color-primary);
}

.nav {
    height: 100%;

    display: grid;
    grid-template-columns:  minmax(13rem, 1fr) 41.25rem minmax(16rem, 1fr);
    grid-gap: 1rem;

    background: var(--main-color-primary);
    box-shadow: var(--box-shadow-nav);
}
/* navbar left */
.nav > .left {
    height: 100%;
}

#logo {
    min-height: 100%;
    max-height: 100%;
    float: right;
}
/* navbar middle */
.nav > .middle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.middle > .search {
    padding: 0.25rem 1rem;
    width: 15rem;

    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-gap: 0rem;

    background: var(--main-color-background);
    box-shadow: var(--box-shadow-nav);
    border-radius: 0.75rem;
}

.search > * {
    color: var(--text-color-priority);
    background: var(--main-color-background);
}

.search > img {
    height: 2rem;
}

.search > input {
    height: auto;
    width: 100%;

    text-align: center;
}

.middle > .img {
    min-height: 100%;
    max-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.middle > .img:hover {
    background-color: var(--hover-color-main);
}
/* navbar right */
.nav > .right {
    color: var(--text-color-primary);
}

.profile {
    padding: 0.5rem;
    height: auto;
    width: 12rem;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile > .avatar {
    height: 3rem;
}

.profile > .icon {
    margin: 0.5rem;
    height: auto;
}

.menu {
    top: 4rem;
    padding: 0 0 0.5rem 0;
    width: 13rem;
    height: min-content;
    position: absolute;

    border-radius: 0 0 var(--border-radius-primary) var(--border-radius-primary);
    box-shadow: var(--box-shadow-nav);
}

.menu > .element {
    padding: 0.5rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu > .element:nth-child(2) > p {
    color: var(--text-color-secondary)
}

/* container */
.container {
    top: 6rem;
    height:100%;

    display: grid;
    overflow-y: scroll;
    grid-template-columns:  minmax(13rem, 1fr) 41.25rem 1fr;
    grid-gap: 1rem;
}
.container {
    font-size: var(--font-size-h3);
}

.container > .left {
    display: flex;
    justify-content: flex-end;
}

.main-menu {
    height: min-content;
    width: auto;
    position: absolute;

    font-size: var(--font-size-h2);
}

.container > .middle {
    display: grid;
    grid-gap: 1rem;
}

.profile-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "info info" "menu feed" ". feed";
    grid-gap: 0.75rem;
}

.profile-info {
    padding: 0.75rem;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.75rem;

    grid-area: info;
}

.profile-info > .avatar {
    height: 11.25rem;
    width: max-content;

    border-radius: var(--border-radius-primary);
}

.main-info {
    display: grid;
    grid-template-rows: 1.5rem 1.125rem auto 3rem;
}

.user-header {
    display: grid;
    grid-template-columns: 1fr auto;
}

.user-online {
    color: var(--text-color-secondary);

    justify-content: flex-end;
}

.user-status > *{
    font-size: var(--font-size-h4);

    color: var(--text-color-primary);
}

.user-info {
    display: grid;
    grid-template-rows: 1fr 1fr 2.625rem;
}

.user-birth {
    display: grid;
    grid-template-columns: 1fr auto;
}

.user-main-info {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.user-main-info > hr {
    height: 0.0625rem;
    background-color: var(--text-color-priority);
}

.user-main-info > p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.user-menu > .element {
    display: flex;
    justify-content: center;
    text-align: center;
}
.user-menu > .element:first-child {
    border-radius: 0 0 0 var(--border-radius-primary);
}
.user-menu > .element:last-child {
    border-radius: 0 0 var(--border-radius-primary) 0;
}

.profile-content {
    width: 12.75rem;
    top: 0;
    position: sticky;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 0.75rem;

    grid-area: menu;
}

.profile-content > div > p {
    font-size: var(--font-size-h2);
}

.post-add {
    padding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.post-add > p {
    padding: 0.5rem;
    
    color: var(--text-color-priority);
}

.friends-menu, .groups-menu {
    padding: 0.5rem 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 1fr 1fr 1fr;
    grid-template-areas: "title title";
    grid-gap: 0.5rem;
}
.friends-menu > *, .groups-menu > * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-h4);
}
.friends-menu > p, .groups-menu > p {
    grid-area: title;
}
.friend-element > .avatar, .group-element > .avatar {
    height: 3rem;
}
.friend-element, .group-element {
    display: block;
    text-align: center;
}

.profile-feed {
    display: grid;
    grid-gap: 1rem;
    
    grid-area: feed;
}

.post {
    padding: 0.75rem;
    height: min-content;
    width: auto;

    display: grid;
    grid-template-rows: 4rem 5rem auto auto;
    grid-gap: 0.75em;
}

.header {
    display: grid;
    grid-template-columns: auto auto 5rem;
    grid-template-rows: auto auto;
    grid-template-areas: "author . settings" ". settings-info settings-info";
}

.header > .author {
    display: flex;
    align-items: center;

    grid-area: author;
}

.author > .info {
    padding: 0.75rem 1rem;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.5rem;
}

.info > p:first-child {
    color: var(--text-color-secondary);
}

.info > p:last-child {
    color: var(--items-color-secondary);
}

.header > .settings {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: settings;

    border-radius: var(--border-radius-primary);
}

.settings-info {
    padding: 0.5rem 0;
    position: relative;
    justify-self: end;

    grid-area: settings-info;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.settings-info > .element {
    padding: 0.5rem 1rem;
    justify-content: center;
}

.title {
    font-size: var(--font-size-h3);
}

.title > p {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.title .more {
    display: flex;
    justify-content: center;
}

.content > * {
    height: auto;
    max-height: 37rem;
    width: 100%;
    aspect-ratio: unset;
}

.content > img {
    object-fit: cover;
}
