.profile-info {
  padding: 0.75rem;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.75rem;

  grid-area: info;
}
.profile-info > .icon {
  height: 11.25rem;
  width: max-content;

  border-radius: var(--br-primary__rem);
}

.main-info {
  display: grid;
  grid-template-rows: 1.5rem 1.125rem auto 3rem;
}
.main-info p {
  font-size: var(--fs-350);
}

.main-info-part {
  align-items: center;
}

.user-header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.user-online {
  color: var(--clr-secondary);
  justify-content: flex-end;
}

.user-status > .selectable {
  font-size: var(--fs-300);
  color: var(--clr-text-35);
}

.user-info {
  display: grid;
  grid-template-rows: 1fr 1fr 2.625rem;
}

.user-birth {
  display: grid;
  grid-template-columns: 1fr auto;
}

.user-main-info {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.user-main-info > hr {
  background-color: var(--clr-primary);
}

.user-main-info > .link {
  margin: auto;
}

.user-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.user-menu > .element {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.user-menu > .element:first-child {
  border-radius: 0 0 0 var(--br-primary__rem);
}
.user-menu > .element:last-child {
  border-radius: 0 0 var(--br-primary__rem) 0;
}
