<div class='profile-info block'>
  <img class='icon' src='static/images/p1.jpeg' alt='' />
  <div class='main-info'>
    <div class='user-header main-info-part'>
      <p class='user-name selectable'>John Doe</p>
      <p class='user-online'>online</p>
    </div>
    <div class='user-status main-info-part'>
      <p class='selectable'>Death covers our life until we realize how wrong it really is</p>
    </div>
    <div class='user-info main-info-part'>
      <p class='selectable'>Location: Russia, Moscow</p>
      <div class='user-birth'>
        <p class='selectable'>Birth: 12.12.1998</p>
        <p class='selectable'>24 years</p>
      </div>
      <div class='user-main-info'>
        <hr />
        <p class='link'>main information</p>
        <hr />
      </div>
    </div>
    <div class='user-menu main-info-part'>
      <div class='element btn-like'>
        <p>friends</p>
      </div>
      <div class='element btn-like'>
        <p>followers</p>
      </div>
      <div class='element btn-like'>
        <p>photos</p>
      </div>
    </div>
  </div>
</div>