<div class="profile-info block">
    <img class="icon" src="../sources/images/E802C8F6-13EE-4316-917E-1CAD52CE1899_4_5005_c.jpeg" alt="">
    <div class="main-info">
        <div class="user-header">
            <p class="user-name selectable">John Doe</p>
            <p class="user-online">online</p>
        </div>
        <div class="user-status">
            <p class="selectable">Death covers our life until we realize how wrong it really is</p>
        </div>
        <div class="user-info">
            <p class="selectable">Location: Russia, Moscow</p>
            <div class="user-birth">
                <p class="selectable">Birth: 12.12.1998</p>
                <p class="selectable">24 years</p>
            </div>
            <div class="user-main-info">
                <hr>
                <p class="link">main information</p>
                <hr>
            </div>
        </div>
        <div class="user-menu">
            <div class="element btn-like">
                <p>friends</p>
            </div>
            <div class="element btn-like">
                <p>followers</p>
            </div>
            <div class="element btn-like">
                <p>photos</p>
            </div>
        </div>
    </div>
</div>
