<div class="profile-info block">
    <img src="../sources/images/E802C8F6-13EE-4316-917E-1CAD52CE1899_4_5005_c.jpeg" alt="" class="avatar">
    <div class="main-info">
        <div class="user-header">
            <p class="user-name">John Doe</p>
            <p class="user-online">online</p>
        </div>
        <div class="user-status">
            <p>Death covers our life until we realize how wrong it really is</p>
        </div>
        <div class="user-info">
            <p>Location: Russia, Moscow</p>
            <div class="user-birth">
                <p>Birth: 12.12.1998</p>
                <p>24 years</p>
            </div>
            <div class="user-main-info">
                <hr>
                <p class="link">main information</p>
                <hr>
            </div>
        </div>
        <div class="user-menu">
            <div class="element">
                <p>friends</p>
            </div>
            <div class="element">
                <p>followers</p>
            </div>
            <div class="element">
                <p>photos</p>
            </div>
        </div>
    </div>
</div>
