:root {
  --root-bg-color: #E3E3E3;
  --root-accent-color: #357DED;
  --root-secondary-color: #0B4F6C;
  --root-positive-color: #1C7C54;
  --root-negative-color: #C83E4D;

  --root-border-radius: 2px;
  --root-border-width: 2px;
  --root-border-color: black;
}