{{#component 'Header' .}}{{/component}}

<div class="container grid">
    <div class="left">
        {{#component 'Menu' .}}{{/component}}
    </div>
    <div class="middle grid">
        {{#component 'Friends' .}}{{/component}}
    </div>
    <div class="right">
        {{#component 'FriendsMenu' .}}{{/component}}
    </div>
</div>