<div class='main-menu friends-main-menu'>
  <a class='main-menu-element btn-primary txt-decor-none' id='add-user-button' href='/search' data-link>
    <p class='element-text'>Find new people</p>
    <img class='icon' src='../../static/icons/add_user_white.svg' alt='' />
  </a>
</div>