<div id="signup-form" class="form flow bdr-4">
  <div class="form-field grid grid-c">
    <input id="firstname" name="firstname" type="text" class="input-field" placeholder="First name">
    <input id="lastname" name="lastname" type="text" class="input-field" placeholder="Second name">
  </div>
  <div class="form-field">
    <input id="email" name="email" type="email" class="input-field" placeholder="Email">
  </div>
  <div class="form-field grid grid-c">
    <input id="password" name="password" type="password" class="input-field" placeholder="Password">
    <input id="password" name="password" type="password" class="input-field" placeholder="Confirm">
  </div>
  <div class="form__submit grid grid-c">
    <button class="btn btn-primary" id="submit" type="submit" class="form__btn__submit">Signup</button>
    <a class="link" href="/signup">Want to sign in instead?</a>
  </div>
</div>