<div class='post grid block' id='{{post.id}}'>
  <div class='header'>
    <div class='author'>
      <img class='icon' src='../sources/images/E802C8F6-13EE-4316-917E-1CAD52CE1899_4_5005_c.jpeg' alt='' />
      <div class='info'>
        <p class='link selectable author-name'>John Doe</p>
        <p class="selectable text-light">yeaterday at 20:43</p>
      </div>
    </div>
    <div class='settings-container'>
      <div class='settings'>
        <img src='../sources/icons/arrow_down.svg' alt='' class='btn' />
      </div>
      <div class='settings-info block'>
        <div class='element btn-like'>
          <p class="element-text">Complain</p>
        </div>
        <div class='element btn-like'>
          <p class="element-text">Hide post</p>
        </div>
      </div>
    </div>
  </div>
  <div class='title'>
    <p class="selectable title-text">Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25% width.
      If you remove the margin, the sidenav will overlay/sit on top of this div.Also notice that we have set
      overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50
      links inside of it).</p>
    <p class='link'>more text...</p>
  </div>
  <div class='content'>
    <img class='content-part' src='../sources/images/Post Picture.png' alt='' />
  </div>
  <div class='reactions'>
    <div class='like block reactions-part btn-like'>
      <img src='../sources/icons/like.svg' alt='' class='icon' />
      <p>497</p>
    </div>
    <div class='comment block reactions-part btn-like'>
      <img src='../sources/icons/comment.svg' alt='' class='icon' />
      <p>comment</p>
    </div>
    <div class='reaction block reactions-part btn-like'>
      <img src='../sources/icons/repost.svg' alt='' class='icon' />
      <p>repost</p>
    </div>
    <div class='watch reactions-part'>
      <img src='../sources/icons/watch.svg' alt='' class='icon' />
      <p>1.25k</p>
    </div>
  </div>
  <div class='comments-section'>
    <hr>
    <p class='comments-section-title'>comments section</p>
    <hr>
    <div class='single-comment grid'>
      <img class='icon' src='../sources/images/E802C8F6-13EE-4316-917E-1CAD52CE1899_4_5005_c.jpeg' alt='' />
      <div class='info'>
        <p class='link selectable fs-300 author-name'>John Doe</p>
        <p class="selectable fs-300">Here i will type something to make you feel comfortable about existed comment section. Okay it will be much
          looooooooooooooooooooooooooooonger</p>
        <p class="selectable fs-300 text-light">yeaterday at 20:43</p>
      </div>
    </div>
    <div class='single-comment grid'>
      <img class='icon' src='../sources/images/E802C8F6-13EE-4316-917E-1CAD52CE1899_4_5005_c.jpeg' alt='' />
      <div class='info'>
        <p class='link selectable fs-300 author-name'>John Doe</p>
        <p class="selectable fs-300">Here i will type something to make you feel comfortable about existed comment section. Okay it will be much
          looooooooooooooooooooooooooooonger</p>
        <p class="selectable fs-300 text-light">yeaterday at 20:43</p>
      </div>
    </div>
    <div class='single-comment grid'>
      <img class='icon' src='../sources/images/E802C8F6-13EE-4316-917E-1CAD52CE1899_4_5005_c.jpeg' alt='' />
      <div class='info'>
        <p class='link selectable fs-300 author-name'>John Doe</p>
        <p class="selectable fs-300">Here i will type something to make you feel comfortable about existed comment section. Okay it will be much
          looooooooooooooooooooooooooooonger</p>
        <p class="selectable fs-300 text-light">yeaterday at 20:43</p>
      </div>
    </div>
    <div class='user-comment'>
      <img src='../../sources/images/unsplash_SqYmTDQYMjo.png' alt='' class='icon' />
      <input type='search' class='input-field' placeholder='Type here a comment' />
      <img src='../../sources/icons/arrow_right.svg' alt='' class='icon btn-like' />
    </div>
  </div>
</div>