.primary-header {
	height: min-content;
}

.primary-header > .middle {
	justify-content: space-evenly;
}

.middle > .search {
	padding: 0.25rem 1rem;
	width: 15rem;

	display: grid;
	grid-template-columns: 3rem 1fr;

	background: var(--clr-bg);
	border-radius: 0.75rem;
}

.search-part {
	background: var(--clr-bg);
}

.search-input {
	height: auto;
	width: 100%;
	border: none;
	outline: none;
	color: var(--clr-primary);
}

.middle > .btn-like {
	min-height: 100%;
	aspect-ratio: 1 / 1;
}

.middle > .btn-like > .icon {
	height: 1.6rem;
}

.profile {
	padding: 0.5rem;
	height: auto;
	width: 13rem;
	float: left;
}

.profile-avatar {
	height: 3rem;
}

.profile-btn {
	margin: 0.5rem;
}

.profile-name {
	width: max-content;
}

.profile-menu {
	display: none;
	top: 4rem;
	padding: 0 0 0.5rem 0;
	width: 13rem;
	height: min-content;
	position: absolute;

	background-color: var(--clr-white);
	border-radius: 0 0 var(--br-primary__rem) var(--br-primary__rem);
}
