@import "./partials/buttons.scss";
@import "./partials/colors.scss";
@import "./partials/generic.scss";
@import "./partials/header.scss";
@import "./partials/inputs.scss";
@import "./partials/modal.scss";
@import "./partials/profile.scss";
@import "./partials/typography.scss";
@import "./partials/utilities.scss";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

ul,
ol {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

img,
picture {
	max-width: 100%;
	display: block;
	object-fit: cover;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

#root {
	@extend .fs-md;

	height: 100vh;
	display: flex;
	color: var(--clr-text);
	background-color: var(--clr-bg);

	line-height: 1.5;
	text-rendering: optimizeSpeed;
	font-family: Arial, sans-serif;
}

.content {
	flex-grow: 1;
	display: grid;
	grid-template-rows: min-content 1fr;
}

.wrapper {
	overflow: hidden;
	display: grid;
	column-gap: 20px;
	grid-template-columns: repeat(12, [col-start] 1fr);
}

.wrapper > * {
	overflow: inherit;
	grid-column: col-start 3 / col-start 11;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

a[data-link] * {
	pointer-events: none;
}

input[type="file"] {
	display: none;
}

::selection {
	color: white;
	background: var(--clr-secondary);
}
