span[contenteditable] {
	@extend .pd-4;
	@extend .border;
	@extend .border-sm;
	outline: none;
	max-height: 50vh;
	overflow-y: scroll;
	overflow-wrap: break-word;
}

span[contenteditable]:empty:focus::before,
span[contenteditable]:empty::before {
	@extend .text-sm;
	@extend .text-light;
	content: "Type a message...";
}
