<div class='dialogs__wrapper flex flex-c'>

  <div class='dialogs__search-bar flex border-no-style border-4 bg-white'>
    <img class='icon' src='/{{icon "search"}}' alt='search icon' />
    <input class='border-no-style' type='text' placeholder='Search' />
  </div>

  <div class='dialogs'>
    <div class='dialog grid grid-c bg-white items-center'>
      <img src='/static/images/p5.webp' alt='dialog image' class='icon-a' />
      <div class='dialog__title'>
        <div class='dialog__name text fw-500'>Gentlemen</div>
        <div class='dialog__preview'>
          <div class='dialog__who'>author</div>
          <div class='fs-200'>message</div>
        </div>
      </div>
      <div class='dialog__info'>
        <div class='date'>4.12pm</div>
        <div class='counter'>3</div>
      </div>
    </div>

    <div class='dialog grid grid-c bg-white'>
      <img src='/static/images/p4.webp' alt='dialog image' class='icon-a' />
      <div class='dialog__title'>
        <div class='dialog__name'>Gentlemen</div>
        <div class='dialog__preview'>
          <div class='dialog__who'>author</div>
          <div>message</div>
        </div>
      </div>
      <div class='dialog__info'>
        <div class='date'>4.12pm</div>
        <div class='counter'>3</div>
      </div>
    </div>
  </div>

</div>