<nav id="header">
  <div class="header-left">
    <div class="logo">
      <a href="/" class="nav__link__logo" data-link>CJ</a>
    </div>
  </div>
  {{!-- check if authorized --}}
  <div class="header-middle">
    <div class="search">
      <img src="../../static/icons/search.png" alt="">
      <div class="text">
        <input type="text" placeholder="Search">
      </div>
    </div>
    <div class="notifications">
      <img src="../../static/icons/notifications.png" alt="">
    </div>
  </div>

  <ul class="nav__list">
    <div class="header-right">
      <div id="profile">
        {{!-- user image --}}
        <img class="image" src="../../static/images/shrek.jpg" alt="">
        <img class="settings" src="../../static/icons/settings.png" alt="">
      </div>
      <div class="red-rectangle"></div>
    </div>

    {{#if authorized}}
    Hi, {{user.name.first}}
    <a id="logout" href="/logout" class="nav__link">logout</a>
    {{else}}
    <a href="/login" class="nav__link" data-link>login</a>
    <a href="/signup" class="nav__link" data-link>signup</a>
    {{/if}}
  </ul>
</nav>