<nav class="header">
  <div class="logo">
    <a href="/" class="nav__link__logo" data-link>CJ</a>
  </div>

  <ul class="nav__list">
    {{#if authorized}}
    TODO: authorized
    {{else}}
    <a href="/login" class="nav__link" data-link>login</a>
    <a href="/signup" class="nav__link" data-link>signup</a>
    {{/if}}
  </ul>
</nav>