:root {
  /* color css code */
  --main-color-primary: #C4C4C4;
  --main-color-secondary: #E4E1DC;
  --main-background-color: #DFD8CF;

  --border-secondary-color: #00000040;
  --border-primary-color: #FFC875;
  --border-error-color: #F85959;
  --border-correct-color: #68E1A0;

  --form-recover-color: #D4B9F8;
  --form-enter-color: #B4DEF0;
  --form-register-color: #68E1A0;
  --form-accent-color: #A8988F;
  --form-common-color: #C4C4C4;

  --accent-color-red: #F85959;
  --accent-color-lightred: #ED8B8B;
  --accent-color-darkred: #B26868;

  --accent-color-lightblue: #B4DEF0;
  --accent-color-lightgreen: #68E1A0;

  --accent-color-orange: #FCB834;
  --accent-color-lightorange: #FFC875;
  --accent-color-darkorange: #BF9658;

  --text-secondary-color: #E4E1DC;
  --text-primary-color: #000000;
  --text-error-color: #F85959;

  /* font css code */
  --font-family-primary: Roboto, Bradley Hand, cursive;
  --font-family-secondary: Comfortaa, Gill Sans, sans-serif;

  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.125rem;

  /* border-radius css code */
  --border-radius-7: 7px;
  --border-radius-16: 16px;
  --border-radius-circle: 90px;
}

#header {
  height: 4rem;
  width: 100vw;
  top: 0%;

  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  grid-template-columns: repeat(3, 1fr);

  background-color: var(--main-color-primary);
}

#header > div {
  height: 100%;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.header-left {
  padding: 0 0 0 0.75rem;
  min-width: 10rem;
  float: left;
}

.header-middle {
  padding: 0.25rem 0;
  width: 43.75vw;
  min-width: 17.875rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-middle .search {
  height: 100%;
  width: 18.75vw;
  min-width: 7.5rem;
  max-width: 16.25rem;
  padding: 0.375rem;
  
  display: flex;
  align-items: center;
  text-align: center;

  background-color: var(--accent-color-darkred);
  border-radius: var(--border-radius-16);
  border: 0.3125rem solid var(--accent-color-lightred);
}

.search:hover {
  background-color: var(--accent-color-darkred);
  border-radius: var(--border-radius-16);
}

.search:hover * {
  background-color: var(--accent-color-darkred);
}

.search img {
  padding: 0.125rem;
  width: 2rem;
}

.search .text {
  padding: 6px;
  color: var(--text-secondary-color);
}

.search input {
  width: 100%;

  font-family: var(--font-family-primary);
  font-style: lighten;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.25rem;

  outline: none;
  border: none;
  color: var(--text-secondary-color);
  background-color: var(--accent-color-darkred);
}

.search input::placeholder {
  color: var(--text-secondary-color);;
}

#header .notifications {
  height: 100%;
  width: 4rem;

  display: flex;
  justify-content: center;
  background-color: var(--accent-color-orange);
  border-radius: var(--border-radius-16);
  border: 0.25rem solid var(--accent-color-orange);
}

#header .notifications:hover {
  background-color: var(--accent-color-darkorange);
  border-radius: var(--border-radius-16);
}

.notifications img {
  height: 3rem;
  width: 3rem;
}

.header-right {
  padding: 0 0 0 0.75rem;
  min-width: 8rem;
  float: left;
}

#profile {
  height: 100%;
  /* width: 100%; */
  display: flex;
  align-items: center;
  background-color: var(--accent-color-lightgreen);
  border-radius: var(--border-radius-circle) 0 0 var(--border-radius-circle);
}

#profile:hover {
  background-color: var(--accent-color-lightblue);
}

#profile .image {
  margin: 0.25rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: var(--border-radius-circle);
}

#profile > .settings {
  margin: 0.25rem;
  padding: 0.75rem;
  height: 2.75rem;
  width: 2.75rem;
}

.red-rectangle {
  height: 100%;
  width: 2rem;
  min-width: 0rem;

  background-color: var(--accent-color-red);
}

.profile button {
  /* background: url(../../static/icons/1946382.png); */
}

button :after {
  content: ' ';
  position: absolute ;
  top: 50%;
  left: 10px;
  bottom: auto;
  right: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background: url('../../static/icons/1946436.png') no-repeat ; 
  width: 10px;
  height: 10px;
}

.nav__link__logo {
  font-size: 100%;
  color: black;
  text-decoration: none;
}

.nav__link {
  padding: .1rem;
  color: black;
}

.nav__link:hover {
  filter: brightness(125%);
}